<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Daily Superfast Satta Bazar Fast Result of year 2024 And Leak Numbers for Gali, Desawar, Ghaziabad and Faridabad With 
        Complete Old Satta Bazar Fast Chart of 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2023, 2024 From Satta Bazar Fast Fast, Satta Bazar Fast Ghaziabad, Satta Bazar Fast Desawar, Satta Bazar Fast Gali, Satta Bazar Fast Faridabad.">
    <meta name="keywords" content="Satta Bazar, satta bazar starline, starline, satta king, mumbai starline">
    <meta name="author" content="Abhinav Prakash">
    <meta name="robots" content="index/follow">
    <link rel="stylesheet" href="/stylesheets/global.css"> <!-- Main stylesheet -->
    <link rel="canonical" href="https://satta-bazar-starline.com">
    <title><%= typeof title !== 'undefined' ? title : 'Satta Bazar' %></title> <!-- Dynamic Title with Default -->

    <!-- Optional: Add any external CSS or fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,600&display=swap" rel="stylesheet">

    <!-- Optional: Favicon -->
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">

    <!-- Dynamic CSS inclusion -->
<% if (externalCSS.length && typeof externalCSS !== undefined) { %>
    <% externalCSS.forEach(function(css) { %>
        <link rel="stylesheet" href="<%= css %>"> <!-- Dynamic external CSS -->
    <% }); %>
<% } %>



<% if (typeof externalScripts !== 'undefined' && externalScripts.length) { %>
    <% externalScripts.forEach(function(script) { %>
        <script src="<%=script  %>"></script>
    <% }); %>
<% } %>

    

<% if (typeof internalCSS !== 'undefined' && internalCSS.trim()) { %>
    <style>
        <%= internalCSS %>
    </style>
<% } %>


</head>
