<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">Satta Bazar Starline</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/monthlyresult">Monthly Result</a></li>
        </ul>
    </div>
</nav>
