<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">Satta Bazar Fast</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/monthlyresult">Monthly Result</a></li>
        </ul>
    </div>

    <div class="manage text-center adminNavbar"></div>
</nav>




<script>

    function getCookie(name) {
        const cookies = document.cookie.split('; ');
        for (let c of cookies) {
            const [key, value] = c.split('=');
            if (key === name) return value;
        }
        return null;
    }

    const isLoggedIn = getCookie('isLoggedIn') === 'true';

    if (isLoggedIn) {
        const content = ` 
    <a href="/submitResult" class="btn btn-success btn-sm">Add Result</a>
    <a href="/manageResults" class="btn btn-primary btn-sm">Manage All Results</a>
    <a href="/admin/settings" class="btn btn-info btn-sm">Manage Settings</a>
    `
        document.querySelector('.adminNavbar').innerHTML = content;
    }
</script>