# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
.env

# Logs
logs/
*.log
*.log.*

# Dependency directories (client-side and server-side)
jspm_packages/
bower_components/

# Production builds
build/
dist/

# Miscellaneous files
.DS_Store
Thumbs.db

# IDEs and editors configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# My demo files (custom section)
demo/
server.error.txt
test1.csv
test2.csv
mumbai_2024.csv
mumbai_5yr.csv
server.error.txt


